@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Flowbite styles */
/* @import 'flowbite'; */

/* Custom style */
@layer base {
  h1 {
    @apply text-3xl font-bold text-gray-800;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }
}
